body {
     width : 345px;
}

#header {
    text-align: center;
}

.movie_icon {
    width : 70px;
    height : auto;
}

.mute{
    width: 60px;
    height: auto;
}

.ui.container{
    padding-bottom: 20px;
}

#uicard{
    padding-bottom: 20px;
}